server:
  port: 8080
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain
    min-response-size: 1024 # Minimum response size in bytes to compress

elasticsearch:
  index:
    name: dev_portal_records
  vocabs_index:
    name: vocabs_index
  cloud_optimized_index:
    name: es-coindexer-dev
  serverUrl: http://localhost:9200
  apiKey: <sample-api-key>
  search_as_you_type:
    search_suggestions:
      path: search_suggestions
      fields: abstract_phrases, parameter_vocabs_sayt, platform_vocabs_sayt, organisation_vocabs_sayt

aws:
  region: ap-southeast-2

wfs-default-param:
  fields:
    SERVICE: "WFS"
    VERSION: "2.0.0"
    REQUEST: "DescribeFeatureType"
  download:
    SERVICE: "WFS"
    VERSION: "1.0.0"       # TODO: Change to 2.0.0 after testing CQL query
    REQUEST: "GetFeature"

# Default parameter for wms call
wms-default-param:
  descLayer:
    SERVICE: "WMS"
    VERSION: "1.1.1"
    REQUEST: "DescribeLayer"
  wfs:
    TRANSPARENT: "TRUE"
    VERSION: "1.1.1"
    FORMAT: "text/html"
    EXCEPTIONS: "application/vnd.ogc.se_xml"
    TILED: "true"
    SERVICE: "WMS"
    REQUEST: "GetFeatureInfo"
    STYLES: ""
    QUERYABLE: "true"
    SRS: "EPSG:4326"         # This is the support from Geoserver which matches mapbox coordinate
    INFO_FORMAT: "text/html"
    FEATURE_COUNT: 100
    BUFFER: 10
  ncwfs:
    TRANSPARENT: "TRUE"
    VERSION: "1.3.0"
    FORMAT: "text/xml"
    EXCEPTIONS: "application/vnd.ogc.se_xml"
    TILED: "true"
    SERVICE: "ncwms"
    REQUEST: "GetFeatureInfo"
    STYLES: ""
    QUERYABLE: "true"
    CRS: "EPSG:4326"
    SRS: "EPSG:4326"
    INFO_FORMAT: "text/xml"
    FEATURE_COUNT: 100
    BUFFER: 10
  wms:
    TRANSPARENT: "TRUE"
    VERSION: "1.1.1"
    FORMAT: "image/png"
    EXCEPTIONS: "application/vnd.ogc.se_xml"
    TILED: "true"
    SERVICE: "wms"
    REQUEST: "GetMap"
    STYLES: ""
    QUERYABLE: "true"
    SRS: "EPSG:900913"
    WIDTH: 256
    HEIGHT: 256
  ncwms:
    TRANSPARENT: "TRUE"
    VERSION: "1.3.0"
    FORMAT: "image/png"
    EXCEPTIONS: "application/vnd.ogc.se_xml"
    TILED: "true"
    SERVICE: "ncwms"
    REQUEST: "GetMap"
    STYLES: ""
    QUERYABLE: "true"
    CRS: "EPSG:3857"
    NUMCOLORBANDS: "253"
    WIDTH: 256
    HEIGHT: 256
  allow-id: # Full list
    - 4402cb50-e20a-44ee-93e6-4728259250d2
    - ae86e2f5-eaaf-459e-a405-e654d85adb9c
    - ca15915b-38c5-4e95-8d25-9cc42c4dd485
    - 006bb7dc-860b-4b89-bf4c-6bd930bd35b7
    - 006bb7dc-860b-4b89-bf4c-6bd930bd35b7
    - c317b0fe-02e8-4ff9-96c9-563fd58e82ac
    - 97b9fe73-ee44-437f-b2ae-5b8613f81042
    - e850651b-d65d-495b-8182-5dde35919616
    - 7e13b5f3-4a70-4e31-9e95-335efa491c5c
    - 8964658c-6ee1-4015-9bae-2937dfcc6ab9
    - 7b901002-b1dc-46c3-89f2-b4951cedca48
    - 4a97bd11-e821-4682-8b20-cb69201f3223
    - 8edf509b-1481-48fd-b9c5-b95b42247f82
    - af5d0ff9-bb9c-4b7c-a63c-854a630b6984
    - 78d588ed-79dd-47e2-b806-d39025194e7e
    - 13b3900f-2623-463c-98a7-ea60ac8e61ae
    - 28f8bfed-ca6a-472a-84e4-42563ce4df3f
    - 72dbe843-2fb1-4b2e-8b7e-4661d857affb
    - 63db5801-cc19-40ef-83b3-85ccba884cf7
    - 35234913-aa3c-48ec-b9a4-77f822f66ef8
    - aaad092c-c3af-42e6-87e0-bdaef945f522
    - a681fdba-c6d9-44ab-90b9-113b0ed03536
    - d7a14921-8f3f-4522-9a54-e7d1df969c8a
    - 4260aa0a-0d0a-4dd0-9ebc-74d2bf937e21
    - f3910f5c-c568-4af0-b773-13c0e57ada6b
    - 911f6b96-fa33-4621-9d8c-4d1cc14d94d0
    - 9436802f-ed93-4660-be50-e77c3c07bd09
    - 723a3e85-04ae-40e6-ac2a-237a93d84abe
    - 52f09a23-63a2-4c14-8b3b-1fc7c8167281
    - 27cc65c0-d453-4ba3-a0d6-55e4449fee8c
    - 8af21108-c535-43bf-8dab-c1f45a26088c
    - 67f0b6ea-518f-4af5-9d21-dd3c08c7cb5c
    - 4d3d4aca-472e-4616-88a5-df0f5ab401ba
    - 468f550b-bbd8-42b1-91b5-313d5898d9e6
    - 89b495cc-7382-43c0-abef-d1e66738a924
    - f7e49e83-4579-413c-b092-2187dca8395d
    - d83ef640-827e-4990-8c35-7c1a1aa587a9
    - d24d26cc-cd8c-4c5b-94e5-809051043d7e
    - c117a4a5-32b8-488a-8b98-ac3b7a0abc2a
    - a136eee7-a990-4c06-a4f6-915657a2464e
    - 0c9eb39c-9cbe-4c6a-8a10-5867087e703a
    - 07818819-2e5c-4a12-9395-0082b57b2fe8
    - f73daf07-eb81-4995-a72a-ca903834509f
    - aaebf991-b79d-4670-a1c5-a0de9bf649ce
    - 8b469535-eb48-4f1f-9612-bdf2e83cdce8
    - bbd0c85b-7218-4065-8180-421b1c1d6bbe
    - 82bc6673-c9cb-4afc-8b5d-0e65b097bfdc
    - 422db51d-596c-4d1c-86a0-b89413c5187e
    - 9fdb1eee-bc28-43a9-88c5-972324784837
    - 80ffbf9d-9547-41aa-8fa1-cf028c58556a
    - 8a2d2824-0557-4110-a561-01ec35a9583d
    - f9b50e93-df47-4317-8f1f-f3ed2fed7093
    - b355a5a5-e6ec-45c7-8506-103cf160431a
    - bc428d0b-eff7-41b9-8d4c-10e666ee1312
    - 8bd3fe33-fd98-4307-ad23-424ad9a2907b
    - 4a1608ab-ebdd-4f98-93c3-15f2da87bfa0
    - cb2e22b5-ebb9-460b-8cff-b446fe14ea2f
    - b35b829c-9149-46c6-9e25-d0fd03463280
    - 9fde091c-9d38-4b2f-ba23-c262c21a41a2
    - 85da1645-2c63-45fa-97b5-4125165b999d
    - e6782131-821c-4237-b2a9-27c6aaa8608c
    - 0a21e0b9-8acb-4dc2-8c82-57c3ea94dd85
    - 46ebc1a9-c503-4435-b85c-11fe16176c8d
    - bc6e10a6-4dda-41c0-8639-5c96411efc5a
    - 1fba3a57-35f4-461b-8a0e-551af229714e
    - 06b09398-d3d0-47dc-a54a-a745319fbece
    - b299cdcd-3dee-48aa-abdd-e0fcdbb9cadc
    - 9f16351d-eec1-4223-a761-c711ebb9c7d9
    - 16e191c0-6b64-482b-affd-783fc2023df4
    - 0ede6b3d-8635-472f-b91c-56a758b4e091
    - 91ae1b2f-39e4-4d30-a853-5deb774614ca
    - 2807f3aa-4db0-4924-b64b-354ae8c10b58
    - d3feff71-ebe1-4b66-91c6-149beceef205
    - 055342fc-f970-4be7-a764-8903220d42fb
    - b273fafa-03d6-4fc2-9acf-39d8c06581e5
    - 4ac6bf81-cd37-4611-8da8-4d5ae5e2bda3
    - 02640f4e-08d0-4f3a-956b-7f9b58966ccc
    - 023ae12a-8c0c-4abc-997a-7884f9fec9cd
    - 3c42cb06-d153-450f-9e47-6a3ceaaf8d9b
    - 75f4f1fc-bee3-4498-ab71-aa1ab29ab2c0
    - 6da0e82d-65bd-446c-ab84-8a6dd155e5be
    - d7f3178d-869a-4eac-959d-71d1f5e24888
    - a5cad244-c33e-4083-b8a9-09ef59500b3d
    - 7709f541-fc0c-4318-b5b9-9053aa474e0e
    - 95d6314c-cfc7-40ae-b439-85f14541db71
    - 597351b5-7bce-44ac-aa04-5e59e5abb5e2
    - b8e9f613-9611-4692-a958-07f100d2c763
    - d9618fb2-1a71-4afd-b1c8-56a6871b224a
    - a05d8ceb-ab0c-4bad-8126-d16d535e73c1
    - d6f49c4a-8b75-4d05-acd4-b9c085bf4de0
    - f9d6616a-f359-4418-979a-e7b89b5b9086
    - d3e3bce3-adb4-433a-a192-93abc91899d3
    - 9e5c3031-a026-48b3-a153-a70c2e2b78b9
    - 165a23d7-5ef3-4cab-9e02-90c8adb941dd
    - 48cf3cb9-caa9-4633-9baa-8bba3c4d904a
    - 38dd003d-2f71-4715-bd3f-4b1cfdce391d
    - 9efa25cd-4da4-47b5-9385-45e3cbd11705
    - 997c2e15-b345-438f-afac-49a4ac19be38
    - a8632154-b8e5-493d-acd4-e458fae3ae26
    - a73907b7-3686-4dcf-8a1d-7efc4e5ffc05
    - b442c3e8-3d30-48ad-b144-680afd848167
    - 19da2ce7-138f-4427-89de-a50c724f5f54
    - e952bcee-79e7-4995-91ad-a7e6408d29ce
    - e41efa35-03f0-4dea-be98-2a69e46b510b
    - f098f0d0-88ac-4f4b-addb-24b3e5e8d0b9
    - 9c6d6a0c-4983-4cb5-b119-02c11ce6af4e
    - ffe8f19c-de4a-4362-89be-7605b2dd6b8c
    - 742dc902-b300-4e3e-839f-04d03671aa09
    - 400a1237-af4d-45c6-a292-788cf0212522
    - 5ad9a6da-3f0b-4b2f-8212-48b386e1b98c
    - e32e51d9-b0a5-4b95-9906-44e0c6c8d516
    - db049981-3d4e-4cb2-9c4b-e697650845b9
    - efd8201c-1eca-412e-9ad2-0534e96cea14
    - 91495e9a-6590-4fb9-bb63-0901a8a4b7b1
    - be9103bd-dbbb-42a8-949d-92e8543a4d92
    - 8e594cd1-363a-4b58-b741-9fa3624adb77
    - 6dca1f8a-8337-4551-ac4b-a2d35ec6f333
    - fb70e5a7-7dcc-41fc-9a9d-9de41ab21e50
    - bc14672f-c007-408e-972b-684d8415dae8
    - 541d4f15-122a-443d-ab4e-2b5feb08d6a0
    - 4cbb9eeb-9ed3-4079-a180-2293a2c219b9
    - e1908591-b3cf-42aa-a32f-424322b28165
    - 73e6608c-cbf5-4a01-9c95-1f137de6cbac
    - 52ad55a5-b537-4e10-8a81-22d9317c81f2
    - 24055e3a-94e5-40bb-b97f-7519f0482d6a
    - 1aa787da-a9ba-494a-ae22-0c3eee2491e1
    - ec424e4f-0f55-41a5-a3f2-726bc4541947
    - bf287dfe-9ce4-4969-9c59-51c39ea4d011
    - f07c3d3f-547b-4818-9d2f-12e872c7e158
    - e3b2531b-a662-43de-9a8b-8e2b385267b3
    - bcf6a870-2591-492e-b340-931f38de5975
    - 4680a155-07af-46ac-b026-151c4ed4f6d5
    - 2223b7f2-4bac-4ff1-9b1e-aae9ac58deef
    - 95b81267-bad2-4939-8559-45b0d0c6f2e9
    - b28ab00c-06f9-4cef-9053-4ff3bf537bb7
    - 8e754b8b-c40f-4a21-ae82-573a67fc3556
    - 08e04227-4da1-479b-bec1-06ee27a69a40
    - a4170ca8-0942-4d13-bdb8-ad4718ce14bb
    - a05817da-fdab-483a-a965-b26fe364ad7c
    - 279a50e3-21a5-4590-85a0-71f963efab82
    - 2d496463-600c-465a-84a1-8a4ab76bd505
    - 70f148b1-7040-4fad-944a-456413c95472
    - d833de94-313d-41bd-9278-bc5813e29949
    - 43ac4663-c8de-4eb0-9711-3da65cbecdd3
    - b2548767-514f-4a31-b65e-36bb894382d5
    - 0887cb5b-b443-4e08-a169-038208109466
    - da30c0b8-4978-4a26-915e-b80c88bb4510
    - 0dd3832a-cf67-4068-a446-a9c91c77273e
    - 0c9bdfd6-2760-4bde-8230-241132790701
    - b02b929f-2caf-45d4-ac60-d4632b7ca0ca
    - 72b65fb8-84e1-4a56-b32c-7f15970903d2
    - ac6968f1-a551-42b7-aad5-91f58a18963b
    - 23c27e4f-c982-44e9-9ab7-71094d297549
    - f7b36a1c-0936-4da6-b47f-94ed538b367e
    - 5a94a2cf-0810-44ea-a28d-cc8a5c30fbd7
    - 60e57a2e-f88c-4b18-a3a1-1164c6259a10
    - ba9110f1-072c-4d15-8328-2091be983991
    - 7d8d046b-6002-4897-b781-04e7324d6af8
    - 06d2fff4-8e2c-4bd7-b98f-cd98e588df6f
    - 09d9ce5c-8224-4a59-97df-30a4a9e7038b
    - 4a136fc6-3ac7-4af1-870f-f5827d6dfcb4
    - 5956fd44-f864-4811-9ec3-15499f1863c4
    - 579fc1ac-6ee5-40e2-9170-6a857e9b40da
    - 60160b01-8ffc-45ce-a6f4-ee70ce391ec6
    - 81c5f192-d4af-4dfe-a660-af15ae46a22a
    - 8b2ddb75-2f29-4552-af6c-eac9b02156a6
    - 6bed374a-3e86-4bbb-b8d1-a6bf8e2fa183
    - 21448123-0170-4aff-9b56-2b6aa21c73ed
    - 2a7e2279-07c8-4c56-a469-91788f99d595
    - c0e0fef6-323b-4df2-9f4f-51c0ce7ac289
    - f0904e61-2e15-4346-bb0e-638366b7e626
    - 07fa52d2-0288-459c-a665-e87d2163591a
    - 78096d8e-66d7-4644-bf1c-4cf3261f0204
    - c2fd5b58-4bb7-42f3-86d8-0b7fd54596be
    - 5d62676f-63d6-4282-9b23-ba1aedfc4fdd
    - 9a94d1ba-8509-4d78-8b55-d25fd222cdff
    - 4327b622-9f7a-4bc2-8470-df7a1bc0e156
    - 9d6b28d2-2d6b-4726-b603-ab03e3d15d34
    - de9020c2-e679-4301-add2-45fd99f9d177
    - b110ebcb-7584-413f-bf12-71651d9b3b18
    - 8ebd1996-c77d-4012-b409-002f4422a915
    - 2e754ed7-caab-4640-a133-5ead9e077edb
    - 9b241ea6-f73a-4236-a0da-47be25b6c28b
    - a528d225-9668-43d2-a8b8-ce5b7e3ec02e
    - 806decf7-1260-44b8-b5a0-cc96a746cedc
    - 5b06aeef-979b-4d09-8e78-0170cbdb8869
    - d02b6f4e-c8b3-4983-b3c1-0b0d514b4a3d
    - cbe02d9e-2450-4364-ad76-c1d27f030943
    - 8d3ccf63-ee85-41cd-917e-933624a50b2e
    - 0145df96-3847-474b-8b63-a66f0e03ff54
    - dfeb72ec-e314-4e6f-9ac9-96c7b1c69aae
    - a1a2d181-d453-43e1-ae2e-627ec2a9bd1e
    - ce7ad4e8-c46b-426b-9156-0cc9faf44e78
    - 4c208c61-21d0-44cd-be82-1e4d9997a265
    - 02364e10-ebc0-463a-b690-2c4ed643733c
    - 1d15540b-8b80-45ac-808b-814c19872117
    - 61F2E4F8-96DB-4723-AADE-08274DAF2268
    - 6478dfd6-efa7-47e4-a7ec-ee4fac39341f
    - f97fdd80-3432-45b6-994f-91cc5a83d793
    - 64758fd0-5d71-47a3-a5de-db47e263b193
    - 81edfca0-9d59-11dc-a0ca-00188b4c0af8
    - 324cbb7f-740a-452d-a372-639bfa0ca9ff
    - b03e8b87-7e43-4152-9a2c-6b1aa6ae9296
    - 9b267d48-9e6e-4558-9318-4f8a7321e360
    - c45d05de-1c33-41c3-b25f-cebc944cefb4
    - 10fcb776-d331-4a04-ac1f-4a48fa050385
    - bd2a812b-d76d-42eb-9654-9f2e13d305ff
    - ce859887-bdf0-4eb0-acf2-80d38af4c85c
    - 54023994-e1aa-479d-a693-c18dfc57a175
    - 9cb44921-91a0-4a17-bdd0-3225bc47346c
    - d9302a48-57b1-41c2-a0dc-78bd00dd5e4b
    - d4f0c06d-0dd3-42ed-a0f1-7504e419e59a
    - 79c8eea2-4e86-4553-8237-4728e27abe10
    - 37662a66-ec3a-4ece-9db0-31930c181725
    - acad78d1-e235-45e6-8f27-0a00184e2ca9
    - 4a12a8c0-c573-11dc-b99b-00008a07204e
    - "100315"
    - IMOS_11068
    - 9b403526-e386-47ef-8a78-be1ae179419d
    - 51702b57-d4e4-4477-b199-b3485675f66c
    - 3b33e731-58e1-4041-9411-cc269cd1cfa3
    - 33b58caf-6dab-4c2f-84d3-9a4db064664f
    - "69869"
    - cc05ae56-98a2-43e2-bab3-509ef6bb643b
    - 332e13ec-ba09-4457-add5-f8e3ca8b6c54
    - db737c5a-708f-4929-b0f6-376366a8a5a5
    - 532138db-7c8f-4346-82cf-04d16e4d662d
    - c2d5d9d4-7288-4137-a275-9f0662ac5ceb
    - dbc3c0e6-0597-4c57-b9ee-ff2de41d9e83
    - 227466d6-30d3-4567-9ee3-2eb8c98e14bc
    - d265307c-5a6a-4a52-b352-35ad904fca52
    - 8f3696d0-ae35-4d48-8a79-59121a5ae168
    - b2dbc96b-6737-41ab-b6fd-8fcf1b957ad0
    - 3fd8fb49-a06a-40af-affc-e97e8e4c10e6
    - 9f40ac0c-e0b1-436b-abc7-b19bc7159d86
    - 9353d4a3-c003-40f4-a747-bf0246f01014
    - f5748c26-2fe9-47bd-b8bb-1e90c032de16
    - f8c856d9-4f8a-40dc-95f5-b003757313fc
    - ed613567-55d1-4986-8a7b-004fcb66aaed
    - 6e9916d1-0e9c-4cf0-b08e-e5e631c1aa4d
    - a56b2120-9753-4285-9767-f09060f8f3b8
    - 9eff1f00-5115-4726-b41f-5a1a93f97575
    - 1b2f5983-c702-474d-a5d0-39b92e8c4498
    - 08067a15-2615-4b3e-9b04-23f6a08abb75
    - 4d93135e-6f88-460b-be8e-9585e14c326f
    - ef452136-c42c-4f0a-98b3-f38a000a3752
    - 3b002636-f1b2-441d-a135-f043df3c8c15
    - 3B4BAEF1-5B54-41B7-A2BA-DC59B16DB059
    - d3288865-c9d0-4f78-becc-e6bc2b204ef8
    - 254d2e6e-b708-4c7b-be3e-997280151170
    - d29fa59e-203f-42a8-b0a7-cf77fde7b88a
    - 99208235-d68e-4039-bf77-362549a7aa48
    - afc2b7ad-c872-4768-8636-6ab577542ba7
    - 09bb945e-77aa-4e76-a792-797b1c19b8bf
    - 85fbe003-6480-4474-9bf4-59e421b5aae9
    - 3e0afabb-ebd2-4972-bb67-8626c2643129
    - c746da08-80d0-4044-a2b6-8f745035d386
    - 72a77782-12e9-4f9c-8899-75b0c21ca16f
    - c4597a97-1ff5-410c-b23b-b5e2e3944610
    - e7ea913e-2528-4ece-847c-a25722e11c1f
    - 7526a44e-dea3-496c-81f4-776d908e2923
    - 53c0cf81-9188-447d-9d21-8c779ddc5b96
    - 0e01cc13-cc11-4158-beef-755fae43ad0d
    - 679ceb60-0aad-11dd-bf15-00188b4c0af8
    - bd5f4650-7318-11dd-babd-00188b4c0af8
    - c0742bc7-5aa6-4f72-9da7-3983aa3ea4d6
    - 16501b1f-4b29-4b52-82d1-2e5c4d536acc
    - 42a88891-570f-4def-b4d5-07ccf7bba269
    - ef001813-c7dd-4c65-9eca-fa70ec296d45
    - 20b07936-3bfb-4a72-805d-0b24f1fd4d3f
    - 4a5e29ce-8bd5-4794-9a84-9b4372ae2b1c
    - c1a2a0b4-e33d-4748-a503-5c6016fc0998
    - f55a53db-09fc-480d-aa9e-2aa6bb304b8c
    - 6d88abe0-8e7a-11dc-94b1-00188b4c0af8
    - 254462ca-f55d-4b43-9a27-c6c4db568f2a
    - 2ffb37a5-5c58-4ea9-a47d-5d526be31346
    - 69ca0060-c59a-4eb1-8f02-0e892298b604
    - 7f6db557-c947-4080-a10d-fa4b3ff0e41e
    - b8475bea-e24e-4374-8090-ef06514b951d
    - bc9916f6-e452-4039-9f17-fecea5376cbb
    - 948e4895-5be1-4a84-af35-016ced9b2245
    - 71fd0720-44a6-11dc-8cd0-00188b4c0af8
    - f41b5349-1251-4f89-aaf3-46e12d692f1e
    - d8e21793-beff-4f82-8807-d6c80557b6c2
    - 11075fdf-e53e-4d8c-8999-0b239a742243
    - 40e9283b-d4ed-4176-8fe6-112b8697003f
    - 0f8262f0-8693-11dc-a9fc-00188b4c0af8
    - 8cea53a2-68d6-4d94-a3bf-29d76f14d092
    - a99cefff-dd6e-4afe-9102-37ab2bf0a8e5
    - 69e9ac91-babe-47ed-8c37-0ef08f29338a
    - fad53b96-c5e2-4f1d-adc8-b74599391ed5
    - 2f950283-8f4b-41b7-a379-a3b3af0c48e0
    - e7424493-0993-4eaa-a61b-0f63dadb312a
    - e0ed6292-914a-40bd-b20c-c854d69f9b3a
    - 67984a64-c5bd-485d-8ace-7b0b22806ffa
    - dfbb5340-9119-4559-8712-a53630acfbb0
    - fe20ec11-ad5b-425f-82dd-6b00f448eb1a
    - c1229b01-41c7-08bf-e044-00144f7bc0f4
    - c836f971-991e-10ec-e043-0200007f2db9
    - c1225108-233d-74e9-e044-00144f7bc0f4
    - c836a6dc-eba7-28c3-e043-0200007fdbdb
    - 033a1ddd-b206-09d0-e053-08114f8c3b40
    - dfd2c49d-d469-4691-9d10-ac154fdd4985
    - d5a640e7-c695-23e1-e043-08114f8c7b58
    - 82fa2ab2-2338-4505-b917-b400406b7c7c
    - 11d4b1d8-c03e-4e37-8ecc-b085ca80e7df
    - bdf91f86-2968-4711-873e-2761383bb207
    - fd3d74b0-0234-4864-bbc6-751c44e41f5e
    - 46c810e8-40fd-4e5f-b950-b2393d862455
    - 881a99c0-c0ce-441d-991c-122ded6dacaf
    - 4567616b-ee03-467b-b3dd-532d90444795
    - f0df1c23-455f-4520-bd4f-fd06d8ef60a1
    - 6eb8ab22-6ba4-4c5a-8454-73e279f751f0
    - 3a083248-a4a0-4429-9bef-63e6acbabb14
    - 0985c77d-5b2e-498b-9016-bfcce78df2da
    - e1ca78ee-8b4f-42d3-b60a-13bf44faf95b
    - eb7a16ff-9283-4418-a92a-50493dd8c4d6
    - 9ada4f7f-abf2-468b-a158-e1c7dba11b92
    - 36e7e8e5-6ec4-4a3a-9382-b244f0f062e1
    - 3c5eb22d-b359-4f2f-ad68-8fef6e563514
    - dc4c761f-eb4d-4fe4-b071-e110bbe7c8f3
    - 68ccd9e6-6fd0-441c-9d97-63350a059658
    - 58a75cc3-e2e8-4519-b188-7456f6c6ffdf
    - 528cf781-6c28-414d-ac27-412399a4304b
    - 7a6751e0-1ad5-11dc-9e36-00188b4c0af8
    - 39fbb324-b184-4ac5-8d3e-9a2994bbecb9
    - 029a5df5-04da-4c64-a73d-d15f1201965d
    - fa2dbc70-44ab-11dc-8cd0-00188b4c0af8
    - 9aee213b-ab23-4321-9994-f7db2f6b2e78
    - b8dde99d-86e4-48f8-b6f4-7e3a857fe8f8
    - 75fc95bf-e4b4-4d39-9ac3-0433669648de
    - caf7220a-19e0-4a7f-9af6-eade6c79a47a
    - 8f007712-6a2b-4007-9529-9bd72dd37ca0

api:
  host: http://localhost:${server.port}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    path: /api/v1/ogc/swagger-ui
  api-docs:
    path: /api/v1/ogc/api-docs/v3

data-access-service:
  host: http://localhost:5000
  secret: 123

management:
  info:
    env:
      enabled: true
  health:
    elasticsearch:
      enabled: false
  endpoints:
    web:
      base-path: /api/v1/ogc/manage
      exposure:
        include: "health,info"
  endpoint:
    logfile:
      external-file: /tmp/logs/ogcapi.log
# Actuator info point
info:
  application:
    name: '@project.name@'
    description: '@project.description@'
    version: '@project.version@'

logging:
  level:
    au.org.aodn.ogcapi.server: debug
